body {
  font-family: "Lato", sans-serif;
  font-size: 14px; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

a {
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

.btn-primary {
  border-radius: 0;
  border: none; }

.navbar-default {
  font-family: "Lato", sans-serif;
  background-color: #cbc6d0;
  border: none;
  border-radius: 0;
  margin-bottom: 0; }
  .navbar-default a {
    color: #332d46; }

.sidebar {
  height: 2000px;
  background-color: #c7b2f6; }

.main-content {
  height: auto;
  background-color: #f9efff;
  padding: 40px 40px;
  font-family: "Lato", sans-serif; }
  .main-content .targeted-departments-container {
    border: 3px solid #c7b2f6; }
    .main-content .targeted-departments-container .header-row {
      background-color: #8BC34A;
      color: whitesmoke;
      font-weight: bold;
      padding: 10px;
      font-size: 1.3em; }
    .main-content .targeted-departments-container .department-form {
      margin-left: 25px;
      margin-top: 20px; }
      .main-content .targeted-departments-container .department-form .checkbox {
        margin-left: 15px; }
        .main-content .targeted-departments-container .department-form .checkbox label {
          font-family: "Montserrat", sans-serif;
          font-size: 1.3em;
          color: #3a3958;
          font-weight: bold; }
      .main-content .targeted-departments-container .department-form .checkbox:first-child {
        margin-left: 0; }
  .main-content .create-question-container {
    border: 3px solid #c7b2f6; }
    .main-content .create-question-container .header-row-2 {
      background-color: #ff7a3e;
      color: whitesmoke;
      font-weight: bold;
      padding: 10px;
      font-size: 1.3em; }
    .main-content .create-question-container .create-question p {
      font-size: 17px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      margin-top: 5px; }
    .main-content .create-question-container .question-options .row {
      margin-top: 10px; }
    .main-content .create-question-container .question-options p {
      font-size: 17px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      margin-left: 15px; }
    .main-content .create-question-container .question-options span {
      margin-left: 5px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif; }
    .main-content .create-question-container .related-row .checkbox {
      margin-left: 15px; }
      .main-content .create-question-container .related-row .checkbox label {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 1.1em; }
    .main-content .create-question-container .related-row p {
      font-size: 17px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      margin-top: 5px;
      margin-left: 15px; }
  .main-content .add-question {
    border: 3px solid #c7b2f6;
    padding: 20px 10px; }
    .main-content .add-question h4 {
      font-family: "Montserrat", sans-serif;
      margin-top: 18px;
      font-weight: bold; }

.custom-input {
  padding: 7px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #c7b2f6;
  transition: all 0.5s; }

.custom-input:focus {
  outline: none;
  border: 2px solid #3a3958; }

.custom-select {
  border-radius: 0;
  padding: 7px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #c7b2f6;
  transition: all 0.5s; }

.custom-select:focus {
  outline: none;
  border: 2px solid #3a3958; }

.custom-button-select {
  background-color: #8BC34A; }

.custom-button-remove {
  background-color: #d14e4f; }

.custom-button-add {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  background-color: #1E88E5;
  font-size: 2em;
  font-weight: bold;
  transition: all 0.3s; }

.custom-button-add:hover {
  background-color: #1E88E5; }

.custom-modal {
  border-radius: 0;
  font-family: "Montserrat", sans-serif; }
  .custom-modal .modal-header {
    background-color: #1E88E5;
    color: #332d46; }
    .custom-modal .modal-header h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 18px; }
  .custom-modal .modal-body .row {
    margin-top: 10px; }
    .custom-modal .modal-body .row input {
      border-radius: 0; }
    .custom-modal .modal-body .row p {
      color: #3a3958;
      font-size: 17px;
      margin-top: 4px; }
    .custom-modal .modal-body .row .success-icon {
      border: 3px solid #8BC34A;
      border-radius: 50%;
      text-align: center;
      padding: 30px 30px; }
      .custom-modal .modal-body .row .success-icon i {
        font-size: 10em;
        color: #8BC34A;
        text-align: center; }

.custom-button-select-all {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: #332d46;
  cursor: pointer; }
  .custom-button-select-all i {
    color: #8BC34A; }
  .custom-button-select-all span {
    margin-left: 3px;
    border-bottom: 3px solid #8BC34A; }

.custom-button-remove-all {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: #332d46;
  cursor: pointer; }
  .custom-button-remove-all i {
    color: #d14e4f; }
  .custom-button-remove-all span {
    margin-left: 3px;
    border-bottom: 3px solid #d14e4f; }

.custom-button-done {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: #332d46;
  cursor: pointer; }
  .custom-button-done i {
    color: #1E88E5; }
  .custom-button-done span {
    margin-left: 3px;
    border-bottom: 3px solid #1E88E5; }

.custom-button-edit {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: #332d46;
  cursor: pointer; }
  .custom-button-edit i {
    color: #ff7a3e; }
  .custom-button-edit span {
    margin-left: 3px;
    border-bottom: 3px solid #ff7a3e; }

/*# sourceMappingURL=style_create_form.css.map */
