//Color Schemes

$lighter: #f9efff;
$light: #cbc6d0;
$medium: #c7b2f6;
$dark: #3b3555;
$darker: #332d46;

$utility1: #d14e4f;
$utility2: #8BC34A;
$utility3: #1E88E5;
$utility4: #ff7a3e;

//Font

$font: 'Lato', sans-serif;
$font2: 'Montserrat', sans-serif;

//General Styles

body {
  font-family: $font;
  font-size: 14px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

//Buttons
.btn-primary {
  border-radius: 0;
  border: none;
}


.navbar-default {
  font-family: $font;
  background-color: $light;
  border: none;
  border-radius: 0;
  margin-bottom: 0;

  a{
    color: $darker;
  }
}

.sidebar {
  height: 2000px;
  background-color: $medium;
  font-family: $font2;
  padding: 40px 40px;
  i{
    font-size: 1.3em;
    color: $dark;
  }
  span{
    font-size: 1.3em;
  }

  .questions{
    font-weight: bold;
    color: $dark;
  }

  .action-paragraph{
    border: 2px solid $darker;
    padding: 10px;
    background-color: $darker;
    color: $lighter;
    cursor: pointer;
    i{
      color: $lighter;
    }
    transition: all 0.3s;
  }
  .action-paragraph:hover{
    background-color: $lighter;
    color: $darker;
    i{
      color: $darker;
    }
  }
}

.main-content {
  height: auto;
  background-color: $lighter;


  .steps-container{
    padding: 10px 5px;
    color: $dark;
    margin-top: 20px;

    .steps-card{
      background: $lighter;
      border: 2px solid $medium;
    }
  }

  .stats-container{
    padding: 10px 5px;
    color: $dark;
    margin-top: 20px;

    .stats-card-1{
      background: $lighter;
      border: 2px solid $medium;


      .chart-row{
        padding: 20px 0;
        .custom-select{
          border: none;
          border-radius: 0;
          box-shadow: none;
        }

        .icons-row{
          i{
            margin-left: 5px;
            font-size: 20px;
          }
        }

        .chart-main{
          border-left: 1px solid $lighter;
        }

        .filter-score-row{
          padding: 20px;
        }
      }
    }
  }


  .analysis-container{
    padding: 10px 5px;
    color: $dark;
    margin-top: 20px;

    .analysis-card{
      background: $lighter;

      .inner-analysis-card{
        border: 2px solid $medium;
        padding: 20px;
        border-radius: 5px;
        margin: 10px 0;
        .bold-text{
          font-weight: bold;
        }
        .emphasis-text{
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

}

.custom-button{
  border: none;
  border-radius: 0;
}


.custom-input {
  padding: 7px;
  font-family: $font2;
  border: 2px solid $medium;
  transition: all 0.5s;

}

.custom-input:focus {
  outline: none;
  border: 2px solid $dark;

}


.custom-modal {
  border-radius: 0;
  font-family: $font2;
  .modal-header {
    background-color: $utility3;
    color: $darker;
    h4 {
      //font-weight: bold;
      font-family: $font2;
      font-size: 18px;
    }

  }
  .modal-body {
    .row {
      margin-top: 10px;
      input {
        border-radius: 0;
      }
      p {
        //font-weight: bold;
        color: $dark;
        font-size: 17px;
        margin-top: 4px;
      }
      .success-icon {
        border: 3px solid $utility2;
        border-radius: 50%;
        text-align: center;
        padding: 30px 30px;
        i {
          font-size: 10em;
          color: $utility2;
          text-align: center;
        }
      }
    }
  }
}