<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top custom-navbar" id="custom-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Smart Feedback System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-right" style="padding: 10px">
                <button class="btn btn-primary custom-button" data-toggle="modal" data-target="#registration-modal">
                    Register
                </button>
                <button class="btn btn-success custom-button" data-toggle="modal" data-target="#login-modal" style="margin-left: 10px">Login</button>
            </div>
        </div><!--/.navbar-collapse -->
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1>Smart Feedback System</h1>
        <blockquote>
            <p>This is a template for a simple marketing or informational website.
                <br>
                It includes a large callout called a jumbotron and three supporting pieces of content.
                <br>
                Use it as a starting point to create something more unique.</p>
            <p>NIT Durgapur</p>
        </blockquote>

    </div>
</div>
