<div class="modal fade submitted-form-modal" id="submitted-form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-header" style="background: #70bb6f">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Feedback Recorded</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="success-icon">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#">
                    <button type="button" class="btn btn-default custom-button" data-dismiss="modal">Close</button>
                </a>
            </div>
        </div>
    </div>
</div>
