//Color Schemes

$lighter: #FFA9E7;
$light: #FF84E8;
$medium: #7F2CCB;
$dark: #414361;
$darker: #2A2D43;

//Font

$font: 'Lato', sans-serif;
$font2: 'Montserrat', sans-serif;

//General Styles

body {
  font-family: $font;
  font-size: 14px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

//Buttons
.btn-primary{
  border-radius: 0;
  border:none;
}

.prev-button{
  border-radius: 0;
  background-color: #b66474;
  color: $font2;
}
.prev-button:hover{
  background-color: #9c5663;

}

.next-button{
  border-radius: 0;
  background-color: #7d78b6;
  color: $font2;
}
.next-button:hover{
  background-color: #6f6aa1;

}
.submit-button{
  border-radius: 0;
  background-color: #85b66e;
  color: $font2;
}
.submit-button:hover{
  background-color: #739e5f;

}

.navbar-default{
  font-family: $font;
  background-color: $light;
  color: $dark;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.sidebar{
  height: 700px;
  background-color: $medium;
}

.main-content{
  height: 700px;
  background-color: $lighter;

  .item {
    .question-title{
      font-family: $font2;
      color:$dark;
      margin-left: 20px;
    }
    .options-row{
      margin-left: 20px;
      margin-top: 10px;
      font-size: 1.2em;
      font-weight: 700;
      font-family: $font2;
      color: $dark;
    }

    .radio input[type=radio], .radio-inline input[type=radio] {
      position: absolute;
      margin-top: 4px;
      margin-left: 0;
      /* margin-left: -20px; */
    }
  }
}