<!DOCTYPE html>
<html lang="en" ng-app="clientApp2">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://use.fontawesome.com/b7f499e08c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="scss/style_create_form.css">

</head>
<body ng-controller="AdminController">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-sm-4 sidebar"></div>
    <div class="col-sm-8 main-content">
        <h3>Create a New Form </h3>
        <hr>
        <div class="row ">
            <div class="col-xs-9 targeted-departments-container">
                <div class="row header-row">
                    Select Targeted Departments
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-4 custom-button-select-all" ng-if="!allSelected" ng-click="selectAllDepartments(true)">
                        <i class="fa fa-check-circle"></i><span>Select All</span>
                    </div>
                    <div class="col-xs-4 custom-button-remove-all" ng-if="allSelected" ng-click="selectAllDepartments(false)">
                        <i class="fa fa-minus-circle"></i><span>Remove All</span>
                    </div>
                </div>
                <div class="row">
                    <form class="form-inline department-form">
                        <div class="checkbox" ng-repeat="department in departments">
                            <label>
                                <input id="department-{{department}}" value="{{department.toLowerCase()}}" type="checkbox"> {{department}}
                            </label>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4 custom-button-done" ng-click="departmentSelectionDone(true)">
                        <i class="fa fa-floppy-o"></i><span>Done</span>
                    </div>
                    <div class="col-xs-4 custom-button-edit" ng-click="departmentSelectionDone(false)">
                        <i class="fa fa-pencil-square-o"></i><span>Edit</span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row" style="margin-top: 30px" ng-repeat="question in questions track by $index">
            <div class="col-xs-9 create-question-container">
                <div class="row header-row-2">
                    Create Question No: {{$index + 1}}
                </div>
                <br><br>
                <div class="row create-question">
                    <div class="col-xs-4">
                        <p>Question Title</p>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" id="question-title-{{$index+1}}" class="custom-input" style="width: 85%"
                               placeholder="ENTER QUESTION TITLE">
                    </div>
                </div>
                <hr>
                <div class="row question-options">
                    <p>Question Options:</p>
                    <hr>
                    <div class="row" style="padding: 0 10px;">
                        <div class="col-xs-6">
                            <input type="text" id="question-option-{{$index+1}}-0" class="custom-input"
                                   placeholder="VERY POOR" data-value="0">
                            <span>Value: 0</span>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" id="question-option-{{$index+1}}-1" class="custom-input"
                                   placeholder="POOR" data-value="1">
                            <span>Value: 1</span>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 10px;">
                        <div class="col-xs-6">
                            <input type="text" id="question-option-{{$index+1}}-2" class="custom-input" placeholder="OK"
                                   data-value="2">
                            <span>Value: 2</span>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" id="question-option-{{$index+1}}-3" class="custom-input"
                                   placeholder="GOOD" data-value="3">
                            <span>Value: 3</span>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 10px;">
                        <div class="col-xs-6">
                            <input type="text" id="question-option-{{$index+1}}-4" class="custom-input"
                                   placeholder="VERY GOOD" data-value="4">
                            <span>Value: 4</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row related-row">
                    <div class="checkbox">
                        <label>
                            <input checked ng-click="checkSelected($index+1)" type="checkbox" id="relationship-exists-{{$index + 1}}">Related Question Exists?
                        </label>
                    </div>
                    <div id="related-fields-div-{{$index+1}}">
                        <div class="row">
                            <div class="col-xs-5"><p>Related Question No:</p></div>
                            <div class="col-xs-5">
                                <input type="number" id="related-question-no-{{$index+1}}" class="custom-input">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-xs-5"><p>Related How?</p></div>
                            <div class="col-xs-5">
                                <select id="related-dropdown-{{$index+1}}" class="form-control custom-select">
                                    <option value="direct">Direct</option>
                                    <option value="inverse">Inverse</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                    </div>

                </div>
                <div class="row related-row">
                    <div class="row">
                        <div class="col-xs-4"><p>Importance: </p></div>
                        <div class="col-xs-6">
                            <input type="number" id="importance-{{$index+1}}" class="custom-input" min="0" max="10"
                                   placeholder="MIN:0 MAX:10" style="width: 70%">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-xs-4"><p>Thought Provoking: </p></div>
                        <div class="col-xs-6">
                            <input type="number" id="thought-provoking-{{$index+1}}" class="custom-input" min="0"
                                   max="5" placeholder="MIN:0 MAX:5" style="width: 70%">
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row related-row">
                    <div class="col-xs-4 custom-button-done" ng-click="saveQuestion($index + 1)">
                        <i class="fa fa-floppy-o"></i><span>Done</span>
                    </div>
                    <div class="col-xs-4 custom-button-edit" ng-click="editQuestion($index + 1)">
                        <i class="fa fa-pencil-square-o"></i><span>Edit</span>
                    </div>
                </div>
                <hr>
            </div>

        </div>
        <div class="row" style="margin-top: 30px" ng-repeat="textQuestion in textQuestions track by $index">
            <div class="col-xs-9 create-question-container">
                <br><br>
                <div class="row create-question">
                    <div class="col-xs-4">
                        <p>Text Question Title</p>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" id="text-question-title-{{$index+1}}" class="custom-input" style="width: 85%"
                               placeholder="ENTER QUESTION TITLE">
                    </div>
                </div>
                <hr>
                <div class="row related-row">
                    <div class="col-xs-4 custom-button-done" ng-click="saveTextQuestion($index+1)">
                        <i class="fa fa-floppy-o"></i><span>Done</span>
                    </div>
                    <div class="col-xs-4 custom-button-edit" ng-click="editTextQuestion($index + 1)">
                        <i class="fa fa-pencil-square-o"></i><span>Edit</span>
                    </div>
                </div>
                <hr>
            </div>

        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-xs-6 add-question">
                <div class="row">
                    <div class="col-xs-9">
                        <h4>Add Another Question</h4>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-primary custom-button-add" ng-click="addQuestion()">+</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 add-question">
                <div class="row">
                    <div class="col-xs-9">
                        <h4>Add A Text Question</h4>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-primary custom-button-add" ng-click="addTextQuestion()">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 30px">
            <div class="col-xs-4 custom-button-select-all" ng-click="submitForm()">
                <i class="fa fa-paper-plane"></i><span>Submit Form</span>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.js"></script>
<script src="/js/script_create_form.js"></script>
<script>
    window.userInfo = <%- JSON.stringify(currentUser) %>;
    console.log(userInfo);
</script>
</body>
</html>