<% include ./partials/header.ejs %>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <hr>

    <div class="row created-forms-header">
        <div class="col-xs-4 col-sm-offset-4">
            <p>Created Forms</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="created-forms-card col-sm-4">
            <div class="row created-forms-card-header">
                <h4>Review No: 1</h4>
            </div>
            <div class="row created-forms-date">
                <i class="fa fa-clock-o"></i>
                <span>Created At: <span class="bold-text">13th March, 2017</span></span>
            </div>
            <hr>
            <div class="row targeted-departments-header">
                <p>Targeted Departments</p>
                <span>BT</span>
                <span>IT</span>
                <span>CSE</span>
                <span>ECE</span>
                <span>MME</span>
            </div>
            <hr>
            <div class="row admin-actions">
                <div class="col-xs-6 custom-button-login">
                    <a href="/logout"><i class="fa fa-external-link"></i><span>View Details</span></a>
                </div>
                <div class="col-xs-4 col-xs-offset-2 custom-button-logout">
                    <a href="/logout"><i class="fa fa-trash"></i><span>Delete</span></a>
                </div>
            </div>
        </div>
    </div>


</div> <!-- /container -->


<% include ./partials/registration-modal.ejs %>
<% include ./partials/login-modal.ejs %>

<% include ./partials/footer.ejs %>