<!DOCTYPE html>
<html lang="en" ng-app="clientApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://use.fontawesome.com/b7f499e08c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="/scss/style_view_stats.css">
</head>
<body ng-controller="MainController">


<div class="row">
    <div class="col-sm-4 sidebar">
        <p>Current View: {{currentView}}</p>
        <hr>
        <p><i class="fa fa-users"></i><span>&nbsp;No of Users Reviewed: {{noOfUsers}}</span></p>
        <p ng-click="changeView('raw')" class="action-paragraph"><i class="fa fa-database"></i><span>&nbsp;View Raw Statistics</span></p>
        <p ng-click="changeView('scored')"  class="action-paragraph"><i class="fa fa-filter"></i><span>&nbsp;View Filtered Statistics</span></p>
        <p ng-click="filterBasedOnFlags('high')"  class="action-paragraph"><i class="fa fa-filter"></i><span>&nbsp;View Trusted User Statistics</span></p>
        <hr>
        <p class="questions" ng-repeat="question in questions track by $index">
           Question No: {{$index + 1}}: {{question}}
        </p>
        <hr>
        <p ng-if="alreadyFiltered" ng-click="generateSuggestion()"  class="action-paragraph"><i class="fa fa-wrench"></i><span>&nbsp;System Generated Suggestions</span></p>
    </div>
    <div class="col-sm-8 main-content">


        <!--<div class="row steps-container">-->
            <!--<div class="col-xs-8 col-xs-offset-2 steps-card">-->
                <!--<span class="step-number">1</span>-->
                <!--<p>Write Steps Here</p>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row stats-container" ng-show="currentView == 'raw'">
            <div class="col-xs-8 col-xs-offset-2 stats-card-1">
                <h4>Question Specific Responses</h4>
                <hr style="margin-top: 0; margin-bottom: 0">
                <div class="row chart-row">
                    <div class="col-md-4">
                        <p>Select Question number</p>
                        <select class="form-control custom-select" name="repeatSelect" id="select-question-1"
                                ng-model="selectedQuestionNo"
                                ng-change="prepareChartData(selectedQuestionNo)">
                            <option ng-repeat="questionNo in questionNos" value="{{questionNo}}">{{questionNo}}</option>
                        </select>
                        <div class="row icons-row" style="margin-top: 10px">
                            <div class="col-md-12">
                                <i class="fa fa-clock-o fa-1.5x"></i><span>&nbsp; &nbsp;{{displayTime1}} secs ave time spent</span>
                                <br><br>
                                <i class="fa fa-users fa-1.5x"></i><span>&nbsp; &nbsp; {{apiResponse.length}} reviews </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 chart-main" id="chart-container">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row stats-container" ng-show="currentView == 'raw'">
            <div class="col-xs-8 col-xs-offset-2 stats-card-1">
                <h4>Overall Response Statistics</h4>
                <hr style="margin-top: 0; margin-bottom: 0">
                <div class="row chart-row">
                    <div class="col-md-4">
                        <p>Select Question number</p>

                        <select class="form-control custom-select" name="repeatSelect" id="select-question-2"
                                ng-model="selectedQuestionNo2"
                                ng-change="prepareChartData2(selectedQuestionNo2)">
                            <option ng-repeat="questionNo in questionNos" value="{{questionNo}}">{{questionNo}}</option>
                        </select>
                        <div class="row icons-row" style="margin-top: 10px">
                            <div class="col-md-12">
                                <i class="fa fa-clock-o fa-1.5x"></i><span>&nbsp; &nbsp;{{displayTime1}} secs ave time spent</span>
                                <br><br>
                                <i class="fa fa-users fa-1.5x"></i><span>&nbsp; &nbsp; {{apiResponse.length}} reviews </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 chart-main" id="chart-container-2">
                        <canvas id="myChart2" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row stats-container" ng-show="currentView == 'scored'">
            <div class="col-xs-8 col-xs-offset-2 stats-card-1">
                <h4>Question wise Scored Responses</h4>
                <hr style="margin-top: 0; margin-bottom: 0">
                <div class="row chart-row">
                    <div class="col-md-4">
                        <p>Select Question number</p>

                        <select class="form-control custom-select" name="repeatSelect"
                                ng-model="selectedQuestionBarScored"
                                ng-change="prepareBarChartDataScored(selectedQuestionBarScored)">
                            <option ng-repeat="questionNo in questionNos" value="{{questionNo}}">{{questionNo}}</option>
                        </select>
                        <div class="row icons-row" style="margin-top: 10px">
                            <div class="col-md-12">
                                <i class="fa fa-clock-o fa-1.5x"></i><span>&nbsp; &nbsp;{{displayTime1}} secs ave time spent</span>
                                <br><br>
                                <i class="fa fa-users fa-1.5x"></i><span>&nbsp; &nbsp; {{apiResponse.length}} reviews </span>
                            </div>
                        </div>
                        <div class="row filter-score-row">
                            <p>Select Score Limit</p>
                            <hr>
                            <input type="number" ng-model="minScore" min="0" max="10" step="0.1" class="custom-input">
                            <button class="custom-button" ng-click="filterResponsesBasedOnScore(selectedQuestionBarScored, minScore, 10)">Apply</button>
                        </div>
                    </div>
                    <div class="col-md-8 chart-main" id="chart-container-4">
                        <canvas id="myChart4" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row stats-container" ng-show="currentView == 'scored'">
            <div class="col-xs-8 col-xs-offset-2 stats-card-1">
                <h4>Comparison of Reviews</h4>
                <hr style="margin-top: 0; margin-bottom: 0">
                <div class="row chart-row">
                    <div class="col-md-12 chart-main" id="chart-container-3">
                        <canvas id="myChart3" width="800" height="600"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <div class="row stats-container" ng-show="currentView == 'flagged'">
            <div class="col-xs-8 col-xs-offset-2 stats-card-1">
                <h4>Question wise Scored Responses</h4>
                <hr style="margin-top: 0; margin-bottom: 0">
                <div class="row chart-row">
                    <div class="col-md-4">
                        <p>Select Question number</p>

                        <select class="form-control custom-select" name="repeatSelect"
                                ng-model="selectedQuestionBarScored"
                                ng-change="prepareCharDataFlagged(selectedQuestionBarScored)">
                            <option ng-repeat="questionNo in questionNos" value="{{questionNo}}">{{questionNo}}</option>
                        </select>
                        <div class="row icons-row" style="margin-top: 10px">
                            <div class="col-md-12">
                                <i class="fa fa-clock-o fa-1.5x"></i><span>&nbsp; &nbsp;3.2 sec</span>
                                <br><br>
                                <i class="fa fa-users fa-1.5x"></i><span>&nbsp; &nbsp;120 reviews</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 chart-main" id="chart-container-5">
                        <canvas id="myChart5" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row analysis-container">
            <div class="col-xs-8 col-xs-offset-2 analysis-card">
                <h4>Important Analysis</h4>
                <div class="row inner-analysis-card" ng-repeat="analysis in importantAnalysyis">
                    <p><span class="bold-text">Question No {{analysis.question_no}}:</span> {{analysis.question_title}}
                    </p>
                    <p><span class="bold-text">Question No {{analysis.related_question_no}}:</span>
                        {{analysis.related_question_title}}</p>
                    <p><span class="bold-text">Conclusion:</span>
                        User responded with '<span class="bold-text emphasis-text">{{analysis.question_text}}</span>'
                        on question no: <span class="bold-text">{{analysis.question_no}}</span>
                        but responded with '<span
                                class="bold-text emphasis-text">{{analysis.related_question_text}}</span>'
                        on question no: <span class="bold-text">{{analysis.related_question_no}}</span>
                        and the relationship was <span class="bold-text emphasis-text">{{analysis.related_how}}</span>
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-9">
                            <button class="btn btn-sm btn-success custom-button" ng-click="flagUser(analysis.postedBy.username)">
                                <i class="fa fa-flag-o"></i>&nbsp;Flag User
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>

            </div>
        </div>

        <div class="row analysis-container">
            <div class="col-xs-8 col-xs-offset-2 analysis-card">
                <h4>Important Text Response Analysis</h4>
                <div class="row inner-analysis-card" ng-repeat="textAnalysis in importantTextQuestionAnalysis">
                    <p><span class="bold-text">Question</span>: {{textAnalysis.question_title}}
                    </p>
                    <p><span class="bold-text">Response</span>: {{textAnalysis.response}}</p>
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-9">
                            <button class="btn btn-sm btn-success custom-button" ng-click="flagUser(textAnalysis.postedBy.username)">
                                <i class="fa fa-flag-o"></i>&nbsp;Flag User
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</div>


<!--SUCCESS MODAL-->


<div class="modal fade submitted-form-modal" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-header" style="background: #70bb6f">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{modalMessage}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="success-icon">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#">
                    <button type="button" class="btn btn-default custom-button" data-dismiss="modal">Close</button>
                </a>
            </div>
        </div>
    </div>
</div>



<!--SUGGESTIONS MODAL-->

<div class="modal fade submitted-form-modal" id="suggestion-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-header" style="background: #70bb6f">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Suggestions</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12" ng-repeat="generatedSuggestionMessage in generatedSuggestionMessages">
                        <p>{{generatedSuggestionMessage}}</p>
                        <hr>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#">
                    <button type="button" class="btn btn-default custom-button" data-dismiss="modal">Close</button>
                </a>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/angular.js"></script>
<script>
    window.adminInfo = <%- JSON.stringify(currentUser) %>;
    window.reviewId = <%- JSON.stringify(reviewId) %>;
</script>
<script src="/js/script_view_stats.js"></script>
</body>
</html>