body {
  font-family: "Lato", sans-serif;
  font-size: 14px; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

a {
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

.btn-primary {
  border-radius: 0;
  border: none; }

.navbar-default {
  font-family: "Lato", sans-serif;
  background-color: #cbc6d0;
  border: none;
  border-radius: 0;
  margin-bottom: 0; }
  .navbar-default a {
    color: #332d46; }

.sidebar {
  height: 2000px;
  background-color: #c7b2f6; }

.main-content {
  height: 1000px;
  background-color: #f9efff;
  padding: 0 40px;
  font-family: "Lato", sans-serif; }
  .main-content .targeted-departments-container {
    border: 3px solid #c7b2f6; }
    .main-content .targeted-departments-container .department-form {
      margin-left: 25px;
      margin-top: 20px; }
      .main-content .targeted-departments-container .department-form .checkbox {
        margin-left: 15px; }
        .main-content .targeted-departments-container .department-form .checkbox label {
          font-family: "Montserrat", sans-serif;
          font-size: 1.3em;
          color: #3a3958;
          font-weight: bold; }
      .main-content .targeted-departments-container .department-form .checkbox:first-child {
        margin-left: 0; }
  .main-content .create-question-container {
    border: 3px solid #c7b2f6; }
    .main-content .create-question-container h4 {
      font-family: "Montserrat", sans-serif; }
    .main-content .create-question-container .create-question p {
      font-size: 17px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      margin-top: 5px; }
    .main-content .create-question-container .question-options .row {
      margin-top: 10px; }
    .main-content .create-question-container .question-options p {
      font-size: 17px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      margin-left: 15px; }
    .main-content .create-question-container .question-options span {
      margin-left: 5px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif; }
    .main-content .create-question-container .related-row .checkbox {
      margin-left: 15px; }
      .main-content .create-question-container .related-row .checkbox label {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 1.1em; }
    .main-content .create-question-container .related-row p {
      font-size: 17px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      margin-top: 5px;
      margin-left: 15px; }

.custom-input {
  padding: 7px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #c7b2f6;
  transition: all 0.5s; }

.custom-input:focus {
  outline: none;
  border: 2px solid #3a3958; }

.custom-select {
  border-radius: 0;
  padding: 7px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #c7b2f6;
  transition: all 0.5s; }

.custom-select:focus {
  outline: none;
  border: 2px solid #3a3958; }

.custom-button-select {
  background-color: #7bcb5d; }

.custom-button-remove {
  background-color: #cb7371; }

/*# sourceMappingURL=styles2.css.map */
