//Color Schemes

$lighter: #f9efff;
$light: #cbc6d0;
$medium: #c7b2f6;
$dark: #3a3958;
$darker: #332d46;

$utility1: #cb7371;
$utility2: #7bcb5d;

//Font

$font: 'Lato', sans-serif;
$font2: 'Montserrat', sans-serif;

//General Styles

body {
  font-family: $font;
  font-size: 14px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

//Buttons
.btn-primary {
  border-radius: 0;
  border: none;
}


.navbar-default {
  font-family: $font;
  background-color: $light;
  border: none;
  border-radius: 0;
  margin-bottom: 0;

  a{
    color: $darker;
  }
}

.sidebar {
  height: 2000px;
  background-color: $medium;
}

.main-content {
  height: 1000px;
  background-color: $lighter;
  padding: 0 40px;
  font-family: $font;


  .targeted-departments-container{
    border: 3px solid $medium;

    .department-form{
      margin-left: 25px;
      margin-top: 20px;
      .checkbox{
        margin-left: 15px;
        label{
          font-family: $font2;
          font-size: 1.3em;
          color: $dark;
          font-weight: bold;
        }
      }
      .checkbox:first-child{
        margin-left: 0;
      }

    }
  }


}

.custom-button-select{
  background-color: $utility2;
}

.custom-button-remove{
  background-color: $utility1;
}



