<!DOCTYPE html>
<html lang="en" ng-app="clientApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://use.fontawesome.com/b7f499e08c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="scss/style.css">
</head>
<body ng-controller="MainController">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-sm-4 sidebar"></div>
    <div class="col-sm-8 main-content">

        <div class="row stats-container">
            <div class="col-xs-8 col-xs-offset-2 stats-card-1">
                <h4>User Specific Responses</h4>
                <hr style="margin-top: 0; margin-bottom: 0">
                <div class="row chart-row">
                    <div class="col-md-4">
                        <p>Select Question number</p>
                        <select class="form-control custom-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <div class="row icons-row" style="margin-top: 10px">
                            <div class="col-md-12">
                                <i class="fa fa-clock-o fa-1.5x"></i><span>&nbsp; &nbsp;3.2 sec</span>
                                <br><br>
                                <i class="fa fa-users fa-1.5x"></i><span>&nbsp; &nbsp;120 reviews</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 chart-main">
                        <img src="http://placehold.it/350x150" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row stats-container">
            <div class="col-xs-8 col-xs-offset-2 stats-card-1">
                <h4>Question Specific Responses</h4>
                <hr style="margin-top: 0; margin-bottom: 0">
                <div class="row chart-row">
                    <div class="col-md-4">
                        <p>Select Question number</p>
                        <select class="form-control custom-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <div class="row icons-row" style="margin-top: 10px">
                            <div class="col-md-12">
                                <i class="fa fa-clock-o fa-1.5x"></i><span>&nbsp; &nbsp;3.2 sec</span>
                                <br><br>
                                <i class="fa fa-users fa-1.5x"></i><span>&nbsp; &nbsp;120 reviews</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 chart-main">
                        <img src="http://placehold.it/350x150" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row analysis-container">
            <div class="col-xs-8 col-xs-offset-2 analysis-card">
                <h4>Important Analysis</h4>
                <div class="row inner-analysis-card" ng-repeat="analysis in importantAnalysyis">
                    <p><span class="bold-text">Question No {{analysis.question_no}}:</span> {{analysis.question_title}}</p>
                    <p><span class="bold-text">Question No {{analysis.related_question_no}}:</span> {{analysis.related_question_title}}</p>
                    <p><span class="bold-text">Conclusion:</span>
                        User responded with '<span class="bold-text emphasis-text">{{analysis.question_text}}</span>'
                        on question no: <span class="bold-text">{{analysis.question_no}}</span>
                        but responded with '<span class="bold-text emphasis-text">{{analysis.related_question_text}}</span>'
                        on question no: <span class="bold-text">{{analysis.related_question_no}}</span>
                        and the relationship was <span class="bold-text emphasis-text">{{analysis.related_how}}</span>
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-7">
                            <button class="btn btn-sm btn-success custom-button">
                                <i class="fa fa-flag-o"></i>&nbsp;Flag User
                            </button>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-sm btn-danger custom-button">
                                <i class="fa fa-trash-o"></i>&nbsp;Delete Review
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row text-center">
            <div class="btn btn-primary" ng-click="filterResponses()">Filter</div>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/script.js"></script>
<script src="js/service.js"></script>
</body>
</html>