$color1: rgba(179,181,198,0.2);
$border1: rgba(179,181,198,1);
$color2: rgba(255,99,132,0.2);
$boder2: rgba(255,99,132,1);

$color1: rgba(198, 116, 43, 0.2);
$border1: rgba(179,181,198,1);
$color2: rgba(255,99,132,0.2);
$boder2: rgba(255,99,132,1)