<!DOCTYPE html>
<html lang="en" ng-app="clientApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://use.fontawesome.com/b7f499e08c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="scss/style.css">
</head>
<body ng-controller="MainController">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-sm-4 sidebar"></div>
    <div class="col-sm-8 main-content">
        <br><br>
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-class="{'active': $first}"  ng-repeat="question in questions">
                            <div class="row">
                                <h3 class="text-center">{{question.questionNo}}. {{question.title}}</h3>
                            </div>
                            <div class="row">
                                <div class="col-xs-2" ng-repeat="option in question.optionTitles">
                                    {{option}}
                                    <div class="radio">
                                        <input type="radio" data-text="{{option}}" name="optionsRadios" id="option-{{question.questionNo}}{{$index}}" value="{{$index}}">
                                    </div> <!-- /ng-repeat="option in question.optionTitles"-->
                                </div>
                            </div>
                            <br><br>
                            <div class="row text-center">
                                <div class="btn btn-primary" href="#carousel-example-generic" role="button" data-slide="prev" ng-if="!$first" >Prev</div>
                                <div class="btn btn-primary" href="#carousel-example-generic" role="button" data-slide="next" ng-if="!$last" ng-click="storeResponse(question.questionNo)">Next</div>
                                <div class="btn btn-primary" ng-if="$last">Submit</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/script.js"></script>
<script src="js/service.js"></script>
<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: false
        });
    })
</script>
</body>
</html>