<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.js"></script>
<script>
    window.onscroll = function () {
        myFunction()
    };

    function myFunction() {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            $('#custom-navbar').addClass('scrolled');
        } else {
            $('#custom-navbar').removeClass('scrolled');
        }
    }


</script>
<script src="/js/script.js"></script>
<script src="/js/service.js"></script>



</body>
</html>